<ion-view view-title="Stände">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="entry in entries" type="item-text-wrap" href="#/tab/entries/{{entry.uuid}}/{{entry.major}}/{{entry.minor}}">
        <img ng-src="{{entry.image.thumb.url}}">
        <h2>{{entry.headline}}</h2>
        <p>{{entry.description}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
